Package: libvci-dev
Source: libvci
Version: 1.10
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 23
Depends: libvci1 (= 1.10)
Section: contrib/libdevel
Priority: optional
Multi-Arch: same
Description: Vyatta Component Infrastructure C/C++ library development files
 Development files for the C/C++ library for interfacing with VCI
