Package: libvci1-dbgsym
Source: libvci
Version: 1.10
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 2497
Depends: libvci1 (= 1.10)
Section: contrib/debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libvci1
Build-Ids: dfb47a8bc53b5efaf529abeee9a5cafec4c33722
