Package: libvci1
Source: libvci
Version: 1.10
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 5696
Depends: libc6 (>= 2.34), libgcc-s1 (>= 3.0), libstdc++6 (>= 5.2)
Section: contrib/net
Priority: optional
Multi-Arch: same
Description: Vyatta Component Infrastructure C/C++ library
 C/C++ library for interfacing with VCI
